$primary_color:#422c85;.cms-service-layout1 .cms-service-nav .cms-service-overlay {
                background-color:rgba(66, 44, 133, 0.44);
            }.vc_tta-container .vc_tta-accordion.vc_tta-style-modern .vc_tta-panels .vc_tta-panel-body {
                border-left: 1px solid rgba(66, 44, 133, 0.4);
                border-right: 1px solid rgba(66, 44, 133, 0.4);
                border-bottom: 1px solid rgba(66, 44, 133, 0.4);
            }$link_color:#422c85;$link_color_hover:#000000;